/*Глобальные стили*/
body {
  background: #ebe8e8 url('/images/t1189002/template-bg.png') repeat left top;
  font-family: 'Open Sans', sans-serif;
}
img {
  /*width: 100%;*/
}
.product {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  height: 390px;
  overflow: hidden;
  padding: 25px 15px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  margin-bottom: 20px;
}
.product p {
  margin: 0 0 10px !important;
}

.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-img {
  height: 200px;
}
.product-title a {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
.product-desc {
  max-height: 60px;
  overflow: hidden;
}
.product-price {
  bottom: 15px;
  left: 0;
  position: absolute;
  width: 100%;
  color: #d51e08;
  font-size: 18px;
  font-weight: 500;
}

input {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  outline-color: #e8e3e3;
  border-radius: 0;
  border: 1px solid #e8e3e3;
}
p.price_table-center {
  text-align: center;
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus {
  outline: none;
}
.input__down {
  margin-bottom: 22px;
}
textarea {
  height: 200px;
  width: 100%;
  padding: 15px;
  resize: none;
  outline-color: #e8e3e3;
  border-radius: 0;
  border: 1px solid #e8e3e3;
}
.container {
  background: #fff;
  /*width: 1140px;*/
}
.go__down {
  margin-top: 25px;
}
.bimg {
  display: inline-block;
  margin-left: -10px;
  margin-right: 10px;
color: #43b944;
font-size: 20px;
}
.standart__header {
  font-weight: 300;
  font-size: 33px;
  margin-top: 11px;
  margin-bottom: 26px;
}
.nav-justified > li > a {
  margin-bottom: 0;
  text-align: center;
}
.nav-stacked>li+li {
    margin-top: 0px;
    margin-left: 0;
}
.header__nav li.active a.ur1 {
  background: #43b944;
}
button,
button:focus {
  outline: none;
}
button:hover {
  -webkit-box-shadow: inset 0px 0px 15px 1px #e5e5e5;
  box-shadow: inset 0px 0px 15px 1px #e5e5e5;
}
.clearfix {
  display: table;
  content: "";
}
/*Переменные*/
/*header*/
header {
  padding-top: 32px;
}
header .go__down {
  margin-bottom: 25px;
}
.header__info {
  padding-top: 27px;
}
.header__info_email {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.header__info_email a { color: #222; text-decoration: underline; font-weight: bold; }


.header__info_adress {
  font-weight: 400;
  font-size: 14px;
}
.header__info_phone {
  font-weight: 700;
  font-size: 15px;
  padding-left: 51px;
}



.header__info_button {
  font-weight: 400;
  font-size: 14px;
}
.header__info_button button {
  width: 180px;
  /*width: 100%;*/
  height: 42px;
  border-radius: 4px;
  border: 1px solid #e8e3e3;
  background: #fff;
  float: right;
  display: block;
}
.header__logo {
  font-weight: 700;
  font-size: 33px;
  text-transform: uppercase;
  text-align: left;
}
.header__logo span {
  font-weight: 400;
  font-size: 15px;
  color: #b1aeae;
  text-transform: none;
}
.header__logo_box {
text-align: center;
}
.header__nav {
  line-height: 40px;
  margin-left: -14px;
}
.header__nav li {
  border-right: 1px solid #e8e3e3;
}
.header__nav li a {
  border-radius: 0px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.header__nav li:last-child {
  border-right: none;
}
li.dropdown:hover {
  cursor: pointer;
}
.hover__menu {
  width: 100%;
  padding-left: 0;
  position: absolute;
  z-index: 9999;
  display: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
.hover__menu li {
  list-style-type: none;
  /*text-align: center;*/
  *width: 165%;
  width: 200%;
  background: #fff;
  padding-left: 0;
  border-right: none;
  padding: 0px;
  margin: 0px;

	 line-height: 18px;


	 cursor: default;

}

.hover__menu li.padd {   height: 27px; line-height: 26px;  cursor: default; }

.hover__menu li.padd:hover {   background: #fff; }

.hover__menu li:hover {
  background: #e8e3e3;
}
.hover__menu li a {
 line-height: 18px;
  text-decoration: none;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  display: block;
   padding-left: 25px;
  padding-top: 7px; padding-bottom: 7px;
  padding-right: 25px;
  font-weight: normal;
}


li.dropdown:hover ul.hover__menu {
  display: block;
}
/*carousel*/
.carousel__box {
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
}
.carousel__box img {
  width: 100%;
}
.carousel-caption {
  font-weight: 300;
  font-size: 40px;
  bottom: 90px;
}
.carousel .glyphicon-chevron-left {
  left: 9px;
}
.carousel .glyphicon-chevron-right {
  right: 25px;
}
.carousel .glyphicon-chevron-left:before {
  content: url("/images/t1189002/arrow_l.png");
}
.carousel .glyphicon-chevron-right:before {
  content: url("/images/t1189002/arrow_r.png");
}
.carousel .carousel-control {
  color: #fff;
}
.np {
  padding-left: 5px;
  padding-right: 5px;
}
/*functions*/
#functions .container {
  padding-left: 30px;
  padding-right: 30px;
}
#functions a,
#functions a:hover,
#functions a:visited {
  color: #000;
}

.functions__box {
  padding: 5px;
 *height: 277px;
  height: auto;
  border: 0px solid #e8e3e3;
  margin-bottom: 20px;

}
.functions__box img {
  width: 100%;
  height: auto;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
border: 5px #fff solid;
}

.functions__box img.mainimg {

        -webkit-filter: grayscale(1); /* Webkit браузеры */
        filter: gray; /* для IE6-9 */
        filter: grayscale(1); /* W3C */
}


.functions__box_text {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
}

.functions__box a:hover img {
  width: 100%;
  height: auto;
border: 5px #43b944 solid;
        -webkit-filter: none; /* Webkit браузеры */
        filter: none; /* для IE6-9 */
        filter: none; /* W3C */
}

.functions__box a:hover   { text-decoration: none; }

.functions__box a:hover  .functions__box_text { color: #43b944;  }



.blog_items .functions__box {
  padding: 5px;
  *height: 450px;
  height: auto;
  border: 0px solid #e8e3e3;
  margin-bottom: 20px;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;

}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
flex-wrap: wrap;
}

.row-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.blog_items  .functions__box_text { text-align: left; padding: 15px; }

.blog_items  .functions__box_text .title { padding: 0px; margin: 0px;  }

.blog_items  .functions__box_text .desc { padding: 0px; margin: 0px; font-size: 14px; }

.blog_items  .functions__box_text .date { padding: 0px; margin: 0px; font-size: 14px; margin-bottom: 10px; }

.blog_items  .functions__box_text .desc p { padding: 0px !important; margin: 0px !important; margin-top: 10px  !important; }

.news_date { font-weight: bold; }

/*skills*/
#skills {
  margin: 5px 0;
}
.skills__container {
  height: 275px;
  padding-top: 40px;
}
.skills__box {
  font-weight: 300;
  font-size: 15px;
}
.skills__box_img {
  margin-bottom: 30px;
height: 124px;
background: url('/images/t1189002/skills__box_img.png') no-repeat center center;
color: #43b944;
font-size: 50px;
line-height: 124px;
}
/*info*/
#info h3 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}
#info p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 30px;
}
.info__about {
  margin-top: 54px;
  padding-left: 50px;
}
.info__about h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}
.info__about ul {   margin-bottom: 15px; }
.info__about ul li {   margin-bottom: 10px; font-weight: 300; }



.info__form {
  padding-bottom: 45px;
}
.form__box {
  border: 1px solid #e8e3e3;
  border-radius: 4px;
  margin-top: 40px;
  padding-bottom: 20px;
  width: 100%;
}
.form__box_header {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 30px 0 40px;
}
.btn__link {
  display: block;
  border: none;
  text-decoration: underline;
  color: #43b944;
  text-align: center;
  background: #fff;
  margin: auto;
  font-weight: 600;
  font-size: 18px;
}
.btn__link:hover {
  color: #000;
  border: none;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*map*/
#map {
  position: relative;

}

.map__container { border-top: 4px #d2cfcf solid; height: 335px; padding: 0px; }

.map__info {
  position: absolute;
  width: 312px;
  height: 199px;
  background: rgba(0, 0, 0, 0.49);
  z-index: 99999;
  padding-top: 35px;
  padding-bottom: 32px;
  padding-left: 30px;
  color: #fff;
  top: 60px;
  left: 70px;
  font-weight: 400;
  font-size: 14px;
}
.map__info span {
  font-weight: 700;
  font-size: 24px;
}
.map__info .ttm {
  font-weight: 700;
  font-size: 16px;
}
/*footer*/
footer {
  height: 100px;
 *line-height: 100px;
  margin-bottom: 65px;
  margin-top: 5px;
}
.footer {
  font-weight: 400;
  font-size: 15px;
}
.footer__info {
  color: #6b6969;
  padding-left: 40px;
padding-top: 30px; padding-bottom: 30px;

}

.cms { font-size: 11px; margin-top: 5px; color: #999; }

.cms a { font-size: 11px;   color: #999; }

.footer__social {
  padding-right: 40px;
  text-align: right;
padding-top: 30px; padding-bottom: 30px;
}
.footer__social a {
  text-decoration: underline;
  margin-left: 15px;
}

.footer__social i { font-size: 18px;  color: #43b944; }


.footer__social svg {
  color: #fff;
  background: #43b944;
  border-radius: 50%;
}
/*contacts #######################*/
#contacts {
  margin-top: 1px;
}
#contacts p {
  font-weight: 700;
  font-size: 14px;
  margin: 9px 0 7px;
}
.my__menu {
  width: 292px;
}
.my__menu li {
  padding: 0px; margin: 0px;
 background: #f2f1f1;
}
.my__menu li:first-child {
  padding-top: 16px;

}
.my__menu li:last-child {
   padding-bottom: 16px;

}
.my__menu li a {
  color: #000;
  font-weight: 300;
  font-size: 15px;
  padding: 13px;
  display: block;
  padding-left: 36px;
   background: #f2f1f1 url('/images/t1189002/linemenu.jpg') repeat-x left bottom; }


.my__menu li a:hover {
 background: #eae9e9 url('/images/t1189002/linemenu.jpg') repeat-x left bottom;
}




.my__menu li:last-child a:hover {
 background: #eae9e9;
}

.my__menu li:last-child a {
 background: #f2f1f1;
}


.my__menu li.active a {
 background: #43b944 url('/images/t1189002/linemenu.jpg') repeat-x left bottom;  font-weight: bold; color: #fff;
}

.my__menu li.active:last-child a {
 background: #43b944;
}

#vnutr .go__down,
#vnutr .go__down,
#vnutr .go__down {
  padding-left: 15px;
  padding-right: 15px;
}
.contacts__info {
  padding-left: 0px;
  margin-left: -15px;
}
.contacts__info a {
  color: #000;
}
.contacts__phone span {
  font-size: 26px;
  font-weight: 700;
}




.contacts__adress {
  padding-top: 15px;
}
.contacts__adress span,
.contacts__wt span {
  font-weight: 400;
  font-size: 16px;
}
.contacts__social {
  margin: 25px 0;
}
.contacts__social_img {
  display: inline-block;
  width: 28px;
  padding-top: 6px;
  margin-right: 8px;
  margin-bottom: 9px;
}
.contacts__social_img img {
  width: 100%;
}

.contacts__social a { color: #0f5a85; text-decoration: underline; }


.contacts__wt {
  margin-bottom: 52px;
}
.contacts__map {
  border: 3px solid #d2cfcf;
  width: 765px;
  margin-bottom: 30px;
}
.breadcrumb {
  background: #fff;
  padding: 8px 0;
  margin-bottom: 0;
}
.breadcrumb > li {
  position: relative;
  margin-right: 20px;
}
.breadcrumb > li a {
  text-decoration: underline;
  color: #636060 !important;
  font-weight: 300;
  font-size: 13px;
}
.breadcrumb > li + li:before {
  content: url("/images/t1189002/menu_arrow.png");
  position: absolute;
  top: -2px;
  left: -18px;
}
.breadcrumb>.active {
    color: #636060;
    font-weight: 300;
    font-size: 13px;
}
/*services #########################*/
#vnutr {
  margin-top: 1px;
}
#vnutr .container {
  padding-bottom: 30px;
}
.services__img_box {
  margin-top: 2px;
}
.services__img_box img {
  width: 100%;
}
.services__text {
  margin-top: 41px;
  margin-left: 1px;
  margin-bottom: 40px;
  line-height: 22px;
  font-weight: 300;
  font-size: 14px;
}
.services__header {
  font-weight: 300;
  font-size: 22px;
}
.services__button, .bluesmall {
  width: 135px;
  height: 35px;
  background: #43b944;
    line-height: 35px;
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 16px;
}
/*portfolio #############*/
#portfolio {
  margin-top: 1px;
}
/*MOBILE VERSION ###############*/
@media screen and (max-width: 1200px) {
  .header__info_phone {
    font-size: 13px;
  }
  .header__info_adress {
    font-size: 11px;
    margin-right: 0px;
    margin-left: 0px;
  }
  /*contacts*/
  .my__menu {
    width: 260px;
  }
  .contacts__info {
    margin-left: 0;
  }
}
@media screen and (max-width: 990px) {

.service_cost { display: none; }

.header__logo_box  {  width: 100%; padding: 0px; margin: 0px; text-align: center; }

.footer__info { padding-left: 0px; padding-right: 0px;  }

.footer__social { padding-right: 0px; padding-left: 0px;   margin: 0px; margin-top: 20px;  }

.map__container { border-top: 0px #d2cfcf solid; height: auto;  margin: 15px; }

.header__info_button { margin-top: 15px; }

  /*header*/
  .caret,
  .hover__menu {
    display: none;
  }
  header {
    text-align: center;
  }
  .header__logo_box {
    margin-bottom: 25px;
  }
  .header__info_phone {
    text-align: center;
    font-size: 15px;
padding: 0px;
  }

  .header__info_email {
    text-align: center;
    font-size: 15px;
  }


  .header__info_adress {
    font-size: 14px;
  }
  .header__info_button button {
    float: none;
    margin: auto;
  }
  .header__nav{
    margin-left: 0;
  }

  /*carousel*/
  .carousel__box {
    margin-top: 20px;
  }
  .carousel-caption {
    font-size: 20px;
  }
  /*functions*/
  .functions__box {
    height: auto;
  }
  /*skills*/
  .skills__box {
    margin-bottom: 45px;
  }
  /*info*/
  .info__about {
    margin-top: 0;
    padding: 25px;
  }
  .info__about h2 {
    text-align: center;
  }
  .map__info{
    position: static;
    width: 100%;
    margin-bottom: 30px;
  }
  footer {
    text-align: center;
  }
  .footer__social {
    text-align: center;
  }
  .footer__info {
    margin-bottom: -60px;
  }
  /*contacts*/
  #contacts .go__down {
    padding-left: 0;
    padding-right: 0;
  }
  .contacts__info {
    text-align: center;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .my__menu {
    width: auto;
  }
  .contacts__info {
    margin-left: 0;
  }
  .contacts__map {
    width: auto;
    border: none;
  }

  .my__menu li:first-child {
 padding-top: 0px;
}
.my__menu li:last-child {
    padding-bottom: 0px;

}

#vnutr ul li { text-align: left; }

}
@media screen and (max-width: 770px) {
  header {
    padding-top: 0;
  }
  .nav-pills li {
    border-bottom: 1px solid #e8e3e3;
    border-right: none;
  }

.row-flex, .row-flex > div[class*='col-'] {

    display: block;


}




}
@media screen and (max-width: 600px) {
  .carousel {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .map__info{
padding-left: 0px;
padding-right: 0px
    font-size: 14px;
text-align: center;
  }
}
@media screen and (max-width: 410px) {

.header__logo_box img { width: 250px; }
  .footer__info {
    font-size: 11px;
  }


}

/*# sourceMappingURL=style.css.map */



#vnutr h1, #vnutr .h1 {  font-weight: 300;
  font-size: 33px;
  margin-top: 11px;
  margin-bottom: 26px;
}

#vnutr h2, #vnutr .h2 {
font-weight: 300;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 26px;
}

#vnutr h3, #vnutr .h3 {
font-weight: 300;
  font-size: 27px;
  margin-top: 40px;
  margin-bottom: 26px;
}


#vnutr p {
  margin-top: 25px;
  margin-left: 1px;
  margin-bottom: 25px;
  line-height: 22px;
  font-weight: 300;
  font-size: 14px;
}

#vnutr ul {
  line-height: 22px;
  font-weight: 300;
  font-size: 14px;
}

#vnutr567 a { color: #0f5a85; text-decoration: underline;  }



.blog_item_page img, #vnutr img  { max-width: 100%; }



.table_chip { border-right: 1px #ccc solid; border-top: 1px #ccc solid; width: 100%; }

.table_chip td { border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 10px;   }

.table_chip tr.thead td { font-weight: bold; background: #eee; }

.table_chip td.td_button { text-align: center; width: 120px; }





.services_item {padding-bottom: 20px; padding-top: 20px;  border-top: 1px #ccc dashed; }

.services_item_img { float: left; width: 260px; }

.services_item_img img { border: 7px #E7E8EA solid; }


.services_item_text {  margin-left: 270px; }

.services_item_text p { margin: 0px; padding: 0px; margin-bottom: 5px; }

.services_item_text .title {   margin-bottom: 10px; font-size: 18px; color: #222;  }

.services_item_text .title a { color: #0f5a85; text-decoration: underline; }

.services_item_text strong {     font-size: 16px; color: #222; font-style: normal; font-weight: normal; }

.services_item_text em {      font-size: 16px; color: #222; font-style: normal; font-weight: normal; }




.service_cost { background: #fff7e5; border: 3px #fbbe3b dashed; border-radius: 10px; padding-left: 15px; padding-right: 15px;  font-size: 18px; color: #000; margin-top: 30px; margin-bottom: 40px; height: 70px;  line-height: 60px; vertical-align: middle;  }

.service_cost img {   vertical-align: middle;  margin-right: 5px; margin-top: -2px; }

.service_cost .bluesmall { margin-left: 10px; }





.formblock { padding: 20px;  font-size: 16px; padding-top: 5px;  max-width: 410px; }

.formblock label { font-size: 14px; }

.formblock input { width: 100%; padding: 8px; }

.formblock button {  }

.formblock .form_label { margin-top: 10px;  }

.formblock .form_table { width:  100%; max-width: 410px;  }

.formblock h1 {
font-weight: 300;
  font-size: 27px;
  margin-top: 0px;
  margin-bottom: 26px;
}

#message,  #error
{
    z-index: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-collapse: collapse;
    background-color: #FFFFFF !important;
    border-radius: 5px;
text-align: center;
font-weight: normal;
}

#message i,  #error i { margin-right: 5px; }

#message
{
    border: 1px solid #3A7E34;
    color: #3A7E34;
}

#error
{
    border: 1px solid #c4272b;
    color: #c4272b;
}


#vnutr .contacts__phone p { padding: 0px; margin: 0px; font-weight: 700; }

#vnutr .contacts__adress  p { padding: 0px; margin: 0px; font-weight: 700; }

#vnutr .contacts__wt  p { padding: 0px; margin: 0px; font-weight: 700; }



@media screen and (max-width: 640px) {

.table_chip { border-right: 1px #ccc solid; border-top: 1px #ccc solid; width: 100%; }

.table_chip td { border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 3px;  font-size: 11px;  }

.table_chip tr.thead td { font-weight: bold; background: #eee; font-size: 11px; }

.table_chip td.td_button { display: none; }


.table_chip td.td_button { display: none; }

.table_chip tr.thead td:last-child  { display: none; }
}



@media screen and (max-width: 600px) {

.services_item_img { display: block;  float: none; text-align: center; width: 100%; margin-bottom: 20px;  }

.services_item_text { margin: 0px; }

}

#ajaxLoader{width: 54px;height: 54px;padding: 11px;box-shadow: 0 2px 2px rgba(204, 204, 204, 0.7);-moz-box-shadow: 0 2px 6px rgba(150, 150, 150, 0.7);-webkit-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.7);border-radius: 9px;-moz-border-radius: 9px;-webkit-border-radius: 9px;background-color: #FFF}


.price_table { border-left: 1px #ccc solid; border-bottom: 1px #ccc solid;  }

.price_table tr td { padding: 10px; border-right: 1px #ccc solid; border-top: 1px #ccc solid;  }

.price_table tr th { font-weight: bold; background: #eee; padding: 10px;  border-right: 1px #ccc solid; border-top: 1px #ccc solid;  }

.price_table tr td p, .price_table tr th p { padding: 0px !important; margin: 0px !important; }
